<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vendjuuren.Domotica.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <Vendjuuren.Domotica.Windows.Properties.Settings>
            <setting name="SQLserverName" serializeAs="String">
                <value>SERVER\SQLEXPRESS</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>Domotica_dev</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>kaku</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>kaku</value>
            </setting>
        </Vendjuuren.Domotica.Windows.Properties.Settings>
    </applicationSettings>
</configuration>